.label > span {
  position: relative;
  font-size: 0.65rem;  

  width: 65%;
  user-select: none;
  place-self: center;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label > span:empty {
  /* for title to be displayed */
  width: 100%;
  height: 100%;
}

.label i {
  position: absolute;
  font-size: 0.45rem;
  top: -5%
}