.wrapper {
  display: grid;
  place-items: center;
  place-content: center;
  grid-auto-rows: max-content;
  row-gap: 4em;
  min-height: 65vh;
}

.wrapper > h3 {
  user-select: none;
}

.bricks {
  --size: 50px;
  --radius: 3px;
  --radius-deformed: 25px;
  --brick-bg: #65d1cb;
  --shadow-color: rgba(0, 0, 0, 0.7);
  --humping: 9px;

  position: relative; 
}

.brick {
  width: var(--size);
  height: var(--size);
  background: var(--brick-bg);
  border-radius: var(--radius);

  animation: animate .5s linear infinite;
}

@keyframes animate {
  17% {
    border-bottom-right-radius: var(--radius);
  }
  25% {
    transform:
      translateY(var(--humping))
      rotate(22.5deg);
  }
  50% {
    transform: 
      translateY(calc(2 * var(--humping)))
      scale(1, 0.9)
      rotate(45deg);
    border-bottom-right-radius: var(--radius-deformed);
  }
  75% {
    transform:
      translateY(var(--humping))
      rotate(67.5deg);
  }
  100% { 
    transform:
      translateY(0)
      rotate(90deg);
  }
} 

.shadow { 
  width: var(--size);
  height: calc(0.1 * var(--size));
  background: var(--shadow-color);
  position: absolute;
  left: 0;
  top: 130%;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
