.switcher {
  --size: 20px; 

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  cursor: pointer;
}

.switcher:hover {
  background: rgb(26, 31, 43);
}

.switcher div {
  position: relative; 
  width: var(--size);
  height: calc(2.5 * var(--size));
  
  border-radius: var(--size);
  background: var(--color-2);
  box-shadow: var(--shadow-2);
}

.switcher span {
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--color-3);
  box-shadow: var(--shadow-3);

  transition: all 0.15s ease-out;
}

.switcher:active span {
  bottom: calc(100% - var(--size));
}
