.tabs-settings {
  display: grid;
  grid-template: min-content / repeat(3, 1fr);
  place-items: center;
  place-content: center;

  width: 100%;
  border-bottom: var(--border-1);

  font-size: 0.85rem;
  color: var(--font-color-1);
}

.tabs-settings label {
  display: grid;
  place-items: center;
  width: 100%;
  cursor: pointer;
}

.tabs-settings span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%; 
  padding-bottom: 0.35em;
  user-select: none; 
}

.tabs-settings input[type=radio] {
  display: none;
}

.tabs-settings input[type=radio]:checked + span {
  font-variation-settings: "wght" 550;
  color: var(--font-color-accent-1-active);
  border-bottom: 2px solid var(--font-color-accent-1-active);
}
