.digits-section {
  display: grid;
  grid-template: min-content 50px / 1fr;
  place-items: center;
  place-content: center;
  row-gap: 7.5px;

  width: 100%;
  height: 100%;
}

/* .digits-section > div:first-child {
  
}

.digits-section > div:nth-child(2) {
  
} */


/* mobile */
/* @media screen and (max-width: 768px) and (orientation: portrait) {

  .digits-section {

  }

} */
