.layout-settings {
  display: grid;
  grid-template-columns: 
    minmax(0.1rem, 1fr)
    minmax(auto, 60ch)
    minmax(0.1rem, 1fr);
  grid-template-rows: min-content;
  row-gap: 30px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 2.5em 2em;

  font-family: var(--font-main);
  font-size: 0.65rem;

  overflow-x: hidden;
  overflow-y: auto;
}

/* side-columns are not for content */
.layout-settings > * {
  grid-column: 2;
}

.layout-settings > form {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 20px;
  font-family: var(--font-main);
}

/* FORMS */

.layout-settings > form input,
.layout-settings > form select {
  border-radius: 5px;
  outline: none;
  border: none;
  font-variation-settings: "wght" 650;
  font-family: inherit;
}

.layout-settings > form > label {
  user-select: none;
  font-size: 0.7rem;
}

/* .layout-settings > form span {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background 0.15s linear;
} */

.layout-settings > form input[type=radio] {
  display: none;
}

.layout-settings > form input[type=radio]:checked ~ span {
  background: var(--color-3);
}

/* number/text */

.layout-settings > form input[type=number],
.layout-settings > form input[type=text] {
  padding: 0.35em 0.75em;
}

/* select */

.layout-settings > form select:disabled {
  opacity: 0.5;
}

.layout-settings > form select {
  padding: 0.1em 0.2em;
}
