/* Navigation Container */

.navigation {
  font-size: 0.55rem;
  font-family: var(--font-main);
  font-variation-settings: "wght" 450;
  color: var(--font-color-1);
  width: 100%;
  height: 100%;
  /* overflow-x: auto; */
}

.navigation ol {
  list-style: none;
  width: 100%;
  height: 100%;
}

.navigation li {
  cursor: pointer;
}

.navigation > ol {
  display: grid;
  grid-template: 1fr / repeat(5, max-content);
  column-gap: 0.7em;
  place-items: stretch;
  width: 100%;
  height: 100%;
}

.navigation > ol > li {
  position: relative;
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5em;
  align-items: end;
}

.navigation li svg {
  height: 80%;
  width: 0.5em;
  align-self: end;
  fill: var(--font-color-1);
}

.navigation > ol > li:hover > ol {
  --scale: 1;
}

/* dropdown */
.navigation li > ol {
  --scale: 0;

  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));

  display: grid;
  place-items: start start;
  row-gap: 5px;
  width: max-content;
  height: auto;
  padding: 1em;
  background: var(--bg);
  box-shadow: var(--section-shadow);
  border: var(--section-border);

  transform-origin: 50% 0%;
  transition: transform 0.2s linear;
}

.navigation li > ol li {
  width: 100%;
}

.navigation li > ol a {
  padding: 0.25em;
  width: 100%;
}

.navigation li > ol li:hover a {
  color: var(--accent-1);
  background: var(--bg-01);
}

.navigation a {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 80%;
}


/* Sections/Links */
.active {
  color: var(--font-color-accent-1-active);
  font-variation-settings: "wght" 550;
}

.navigation > ol > li:hover::after,
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 7.5px 7.5px 0 0;
  background: var(--font-color-accent-1-active);  
}

.navigation > ol > li:hover::after {
  background: var(--accent-2);
}

/* mobile */
@media screen and (max-width: 768px) {

  .navigation {
    font-size: 0.65rem;
  }

}

/* mobile */
@media screen and (max-width: 640px) {

  .navigation li > ol {
    display: none;
  }

}
