/* representation should have 3 columns */ 

.settings > div:nth-of-type(4) input[type=radio] {
  display: block;
}

.settings > div:nth-of-type(4) {
  grid-template-columns: min-content max-content min-content;
}

.settings > div:nth-of-type(4) header {
  grid-column: span 3;
}
