.symbolic {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(75px, 100px);
  grid-auto-rows: minmax(100px, 250px);
  place-self: center;
  place-content: center;
  column-gap: 20px;

  height: 100%;
  padding: 0 1.5em;  
}
