.backdrop {
  z-index: 1100;
  position: fixed;
  top: 55px;
  width: 100%;
  height: calc(100vh - 55px);  

  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
}

.close {
  display: none;
}

/* custom scroll bar for non-mobile */
@media screen and (min-width: 768px) {

  .modal::-webkit-scrollbar {
    width: 1px;
  }
  
  .modal::-webkit-scrollbar-track {
    background: var(--color-bg);
  }
  
  .modal::-webkit-scrollbar-thumb {
    background: var(--color-2);
  }
}
