/* wrapps container to provide overflow effect */
.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
}

/* main grid container for digits */

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(100px, 250px);
  place-self: center;
  place-content: center;
  column-gap: 20px;

  /* overflow: auto;
  width: 100%; */

  height: auto;
  padding: 0.75em 1.5em;
  position: relative;
}

/* overflow */

.container::before,
.container::after {
  content: "";
  position: sticky;
  left: 0;
  height: 100%;
  width: 1.25rem;  
}

.container::before {
  left: 0;
  background: linear-gradient(to left, transparent 50%, var(--bg));
}

.container::after {
  right: 0;
  background: linear-gradient(to right, transparent 50%, var(--bg));
}

.digit {
  display: grid;
  grid-template: 1fr 6fr 1fr / minmax(min-content, 1fr);
  place-items: center;
}

/* labels */
.digit > span:nth-of-type(1) {
  grid-row: 1;
  grid-column: 1;
}
.digit > span:nth-of-type(2) {
  grid-row: 3;
  grid-column: 1;
}

/* mobile */

@media screen and (min-width: 768px) {

  .wrapper::-webkit-scrollbar {
    height: 5px;
  }
  
  .wrapper::-webkit-scrollbar-track {
    background: var(--color-3-15);
  }
  
  .wrapper::-webkit-scrollbar-thumb {
    background: var(--color-2);
  }

}

/* mobile */
@media screen and (max-width: 768px) {

  .container {
    grid-auto-rows: minmax(80px, 200px);
    column-gap: 20px;
    padding: 0.75em 0;
  }

}
