.express-options {
  position: fixed;
  top: 40%;
  right: 0;

  display: grid;
  place-items: center;
  place-content: center;
  row-gap: 0.5rem;
}

/* mobile */
@media screen and (max-width: 768px) {

  .express-options {
    top: 75%;
  }

}