.set-settings {
  place-self: center;

  display: grid;
  grid-template: 1fr / 1fr 1fr;
  column-gap: 1.5em;
  place-items: center;
  place-content: center;
  place-self: center;

  height: min-content;
  width: max-content;

  font-size: 0.65rem;
}

.set-settings button {
  place-self: center;
  cursor: pointer;
}
