.navigation {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 0.5em;
}

.navigation > header {
  font-size: 1.5em;
  padding: 0.25em;
  width: 100%;
  border-bottom: var(--section-border);
  user-select: none;
}

/* SECTION */

.section summary {
  display: grid;
  grid-template: 1fr / 1em auto;
  align-items: center;
  column-gap: 0.35em;
  user-select: none;
  cursor: pointer;
}

/* hiding default icon */
.section summary::-webkit-details-marker {
  display: none;
}

.section svg {
  width: 0.85em;
  height: 0.85em;
  fill: var(--accent-2);
  transform: rotate(-90deg);
  transition: transform 0.15s ease-in-out;
}

.section summary::-webkit-details-marker {
  display: none;
}

.section details[open] > summary svg {
  transform: none;
}

/* details container */

.section details > div {
  display: grid;
  padding: 0.5em 0 0.5em 1.35em;
  margin-left: 0.4em;
  border-left: var(--section-border);
}

/* Link */

.link,
.link-active {
  position: relative;
  text-decoration: none;
  font-size: 0.6rem;

  height: 100%;
  width: auto;
}

.link { 
  color: var(--font-color-1);
}

.link-active {
  position: relative;
  color: var(--font-color-accent-1-active);
}

.link-active::after {
  content: "✓";
  position: absolute;
  right: -1.2em;
  height: 100%;
  font-size: 0.6rem;
  color: var(--font-color-1);
}