.navigation {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 0.25em;
}

.navigation > header {
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
  border-bottom: var(--section-border);
  user-select: none;
}

/* SECTION */

.section summary {
  display: grid;
  grid-template: 1fr / 1em auto;
  align-items: center;
  column-gap: 0.35em;
  padding: 0.5em;
  user-select: none;
  cursor: pointer;
}

.section summary:hover {
  background: var(--bg-01);
}

/* hiding default icon */
.section summary::-webkit-details-marker {
  display: none;
}

.section svg {
  width: 0.85em;
  height: 0.85em;
  fill: var(--accent-2);
  transform: rotate(-90deg);
  transition: transform 0.15s ease-in-out;
}

.section summary::-webkit-details-marker {
  display: none;
}

.section details[open] > summary svg {
  transform: none;
}

/* details container */

.section details > div {
  display: grid;
  padding: 0.5em 0 0.5em 1.35em;
  margin-left: 0.9em;
  border-left: var(--section-border);
}

/* Link */

.link,
.link-active {
  position: relative;
  text-decoration: none;
  font-size: 0.6rem;
  font-family: var(--font-main);
  padding-right: 1.25em; /* to show active state */

  height: 100%;
  width: fit-content;
}

.link { 
  color: var(--font-color-1);
}

.link-active {
  position: relative;
  color: var(--font-color-accent-1-active);
}

.link-active::after {
  content: "â†";
  position: absolute;
  right: 0;
  bottom: 0.3em;
  height: 100%;
  font-size: 1.5em;
  color: var(--font-color-1);
}


/* mobile */
@media screen and (max-width: 640px) {

  .navigation {
    color: var(--font-color-1);
    width: 100%;
    height: 100%;
    background: var(--bg);
    padding: 1em;
    overflow-y: auto;
  }

  .section summary {
    color: var(--font-color-accent-1-active);
  }

  .section details > div {
    padding: 0 0 0 1.35em;
    margin-left: 0.9em;
  }

  .link,
  .link-active {
    font-size: 0.85rem;
  }

}