.header-switch {
  --size: 0.55rem;

  display: grid;
  grid-auto-flow: column;
  column-gap: 7.5px;
  width: 100%;
  height: 100%;

  font-size: var(--size);
}

.header-switch svg {
  cursor: pointer;
  fill: var(--icon-fill-2);
  width: 1.3em;
  height: 1.3em;
}


/* mobile */
@media screen and (max-width: 768px) {

  .header-switch {
    width: 100%;
    height: 2rem;
  }

  .header-switch svg {
    align-self: center;
  }

}

/* mobile */
@media screen and (max-width: 640px) {

  .header-switch {
    --size: 1rem;
    column-gap: 1em;
    width: fit-content;
    height: auto;
  }

}