.header-switch {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
}

.header-switch svg {
  cursor: pointer;
  fill: var(--icon-fill-2);
  width: 60%;
  height: 60%;
}

/* github */
.header-switch div > a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}


/* mobile */
@media screen and (max-width: 768px) {

  .header-switch {
    width: 100%;
    height: 2rem;
  }

  .header-switch svg {
    align-self: center;
  }

  /* github */
  .header-switch div > a {
    display: none;
  }

}

/* mobile */
@media screen and (max-width: 640px) {

  .header-switch {
    width: fit-content;
  }

}