/* Header */

.header {
  display: grid;
  grid-template: 1fr / 75px max-content 1fr max-content;
  column-gap: 5px;
  place-items: center;

  padding: 0 0.75em 0 0.5em;
  border-bottom: var(--border-1);

  font-family: var(--font-main);
}

/* Title */

.header h1 {
  font-size: 0.95rem;
  color: var(--font-color-1);
  user-select: none;
}

.header > h1 a {
  width: 100%;
  height: 100%;
  color: var(--font-color-accent-1);
}

.header > h1 a:hover {
  color: var(--font-color-accent-2);
}

.header svg {
  width: 100%;
  height: 100%;
  fill: var(--icon-fill-2);
  transform: rotate(-90deg);
  cursor: pointer;
}

/* Nav */

.navigation {
  grid-column: 4;

  display: grid;
  grid-template: 1fr / repeat(5, max-content);
  column-gap: 0.7em;
  place-items: center;
  width: 100%;
  height: 100%;

  font-size: 0.7rem;
}

/* mobile */
@media screen and (max-width: 768px) {

  .header {
    grid-template: 1fr / 50px max-content;
    column-gap: 10px;
    place-items: center;  
    padding: 0 1.5em 0 0.75em;
  }

  .header h1 {
    display: none;
  }

  .navigation {
    grid-column: 3;
    column-gap: 0.9em;
    overflow-x: auto;
  }

}
