/* Header */

.header {
  display: grid;
  grid-template: 1fr / max-content 1fr max-content 50px;
  column-gap: 10px;
  place-items: center;

  padding: 0 0.5em 0 1em;
  border-bottom: 1px solid rgba(192, 192, 192, 0.25);

  font-family: var(--font-main);
}

/* Title */

.header h1 {
  font-size: 0.95rem;
  color: var(--font-color-1);
}

/* Nav */

.navigation {
  grid-column: 3;

  display: grid;
  grid-template: 1fr / repeat(5, max-content);
  column-gap: 0.7em;
  place-items: center;
  width: 100%;
  height: 100%;
}

/* anchor elements */

.section,
.section-active {
  position: relative;
  text-decoration: none;
  font-size: 0.6rem;

  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
}

.section { 
  color: var(--font-color-1);
}

.section-active {
  color: var(--font-color-1-bright);
}

.section-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 7.5px 7.5px 0 0;
  background: var(--font-color-1-bright);  
}
