.number {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template: 1fr / 1fr 1fr 15fr 1fr 1fr;
  place-items: center;

  font-family: var(--font-digits);

  background: var(--color-1);
  box-shadow: var(--shadow-1);
  min-height: 2.5rem;
}

/* middle-wrapper */

.number > div {
  grid-row: 1;
  grid-column: 2 / span 3;
  
  width: 100%;
  height: 100%;
  background: var(--color-2);
  box-shadow: var(--shadow-2);
}

/* incrementors */

.number button {
  border: none;
  outline: none;

  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.number button:nth-of-type(1) {
  grid-row: 1;
  grid-column: 2;
}

.number button:nth-of-type(2) {
  grid-row: 1;
  grid-column: 4;
}

/* number input */

.number input[type=text] {
  grid-row: 1;
  grid-column: 3;

  text-align: center;

  width: 100%;
  height: 100%;
  border: none;
  outline: none;

  font-size: 2rem;
  color: var(--font-color-digit);
  font-family: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--color-3);
  box-shadow: var(--shadow-3);
  transition: box-shadow 420ms linear;
}

.number input[type=text]::placeholder {
  font-family: var(--font-main);
  font-size: 1rem;
  transform: translateY(-0.45rem);
}

.number input[type=text]::selection {
  background: var(--font-color-selection-bg);
  color: var(--font-color-selection);
}

/* border-radius */

.number,
.number > div,
.number input[type=text] {
  border-radius: 20px;
}


/* mobile */
/* @media screen and (max-width: 768px) {

  .number input[type=text]::placeholder {
    transform: scale(0.75);
  }

} */
