.article {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 0.5em;

  font-family: var(--font-main);
  font-size: 0.7rem;
  line-height: 1.15;
}

.article ul {
  text-decoration: none;
  list-style: none;
}

.article a {
  color: var(--font-color-1-bright);
}
