.article {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 0.75em;

  font-family: var(--font-main);
  font-size: 0.8rem;
  line-height: 1.32;
}

/* headers */

.article h1 {
  text-align: center;
  place-self: center;
  margin-bottom: 0.5em;
  font-size: 1rem;
  color: var(--font-color-1-bright);
}

.article h2,
.article h3 {
  margin-top: 1em;
  position: relative;
}

.article h2 {
  font-size: 0.85rem;
}

.article h3 {
  font-size: 0.75rem;
}

.article h2::before,
.article h3::before {
  position: absolute;
  left: -2em;
}

.article h2::before {
  content: "#2";
}

.article h3::before {
  content: "#3";
}

/* lists */

.article ul {
  text-decoration: none;
  list-style: square;
  padding-left: 1em;
}

.article ul li ~ li,
.article ol li ~ li {
  margin-top: 0.5em;
}

/* anchors */

.article a {
  color: var(--font-color-1-bright);
  text-decoration: underline;
}

/* blockquotes */

.article > blockquote {
  position: relative;
  background: var(--color-1-25);
  padding: 0.75em 1em 0.75em 1.5em;
  margin: 0.25em 0; 
  color: var(--font-color-2);
}

.article > blockquote::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 0.5em;
  background: var(--color-2);
}

/* strong */

.article strong {
  color: var(--color-2);
}

/* p */
.article p {
  text-indent: 1em;
}
