.layout-article {
  display: grid;
  grid-template: 1fr / minmax(10ch, 40ch) 1fr;
  column-gap: 1em;

  padding: 5em 2em 2.5em 2em;
  overflow-x: hidden;

  font-family: var(--font-main);
  font-size: 0.65rem;
  color: var(--font-color-1); 
}

.layout-article > article {
  grid-column: 2;

  display: grid;
  grid-template-columns: 
    minmax(5ch, 1fr)
    minmax(auto, 60ch)
    minmax(5ch, 1fr);
  grid-auto-rows: min-content;
  row-gap: 0.5em;
  max-width: 100%;
  height: auto;
  padding-bottom: 2.5em;
}

.layout-article > nav {
  grid-column: 1;
  position: fixed;
  /* padding of the parent + header's height 55px */
  top: calc(2.5em + 55px);
  height: calc(100vh - 2.5em - 55px);
  overflow-y: scroll;
}

.layout-article > nav::-webkit-scrollbar {
  display: none;
}

.layout-article > nav > section {
  height: min-content;
}

/* side-columns are not for content */
.layout-article > article > * {
  grid-column: 2;
}

/* mobile menu toggle */
.toggle {
  display: none;
}

/* custom scroll bar for non-mobile */
@media screen and (min-width: 768px) {

  .layout-article::-webkit-scrollbar {
    width: 7.5px;
  }
  
  .layout-article::-webkit-scrollbar-track {
    background: var(--color-bg);
  }
  
  .layout-article::-webkit-scrollbar-thumb {
    background: var(--color-2);
  }
}


/* mobile */
@media screen and (max-width: 768px) {

  .layout-article {
    grid-template: min-content 1fr / auto;
    row-gap: 1em;
    padding-left: 1.5em;
  }

  /* navigation can be accessed in modal */
  .layout-article > nav {
    display: none;
  }
  
  .layout-article > article {
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
  }

  .layout-article > article > * {
    grid-column: 1;
  }



}

/* mobile */
@media screen and (max-width: 640px) {

  .layout-article > article {
    padding-bottom: 5em;
  }

  .toggle {
    --size: 40px;
    z-index: 1000;

    display: grid;
    place-items: center;
    position: fixed;
    bottom: calc(0.5 * var(--size));
    right: calc(0.75 * var(--size));
    width: var(--size);
    height: var(--size);
    background: var(--accent-1);
    border-radius: 50%;

    cursor: pointer;
  }

  .toggle svg {
    width: 65%;
    height: 65%;
    fill: var(--accent-1-negate);
  }

}