.lampadario {
  --length: 65px;
  --bulb-size: 35px;

  position: fixed;
  left: 3vw;
  top: 0;

  z-index: 50;
}

.wire {
  position: relative;
  background-color: #000000;
  width: 2px;
  height: var(--length);
  left: 50%;
  /* margin-left: -1px; */
  transform-origin: 0% 0%;
  animation: oscillate-wire .9s ease-in-out 0s infinite alternate;
}

.wire:after {
  content: "";
  left: -5px;
  top: 100%;
  position: absolute;
  border-bottom: 15px solid #000000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 4px;
}

.lampadario > .wire{
  box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
}

.lampadario > .wire:after {
  box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
}

.lampadario > input[type=checkbox] {
  display: none;
}

.lampadario > label {
  width: var(--bulb-size);
  height: var(--bulb-size);
  top: calc(14px + var(--length));
  position: absolute;
  right: calc(-0.5 * var(--bulb-size));
  border-radius: 100%;
  animation: oscillate-bulb .9s ease-in-out 0s infinite alternate;
  cursor: pointer;

  transform-origin: 50% calc(-1 * var(--length) - var(--bulb-size) * 0.5 + 4px);

  background: rgba(255, 255, 255 ,0.03);
  box-shadow:
    inset 0px 1px 5px rgba(255, 255, 255, 0.1),
    inset 0px 2px 20px rgba(255, 255, 255, 0.07),
    -80px -15px 15px -5px rgba(0, 0, 0, 0.1);
}

.lampadario > input[type=checkbox]:checked ~ label {
  background: rgba(255, 255, 255, 1);
  box-shadow:
    0px 0px 10px rgba(255, 255, 255, 0.8),
    0px 0px 30px rgba(255, 255, 255, 0.8),
    0px 0px 50px rgba(255, 255, 255, 0.6),
    0px 0px 70px rgba(255, 255, 255, 0.6),
    -80px -15px 120px 0px rgba(255, 255, 255, 0.4);
}

.lampadario > label:after {
  --bulb-inner-size: calc(0.33 * var(--bulb-size));

  content: "";
  width: var(--bulb-inner-size);
  height: var(--bulb-inner-size);
  position: absolute;
  top: 0;  
  left: calc(var(--bulb-size) * 0.5 - 0.5 * var(--bulb-inner-size) - 2px);
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.03);
  transform: rotate(-7.55px);
}

@keyframes oscillate-wire {
  from {
    transform: rotate(5deg);
  } to {
    transform: rotate(-5deg);
  }
}

@keyframes oscillate-bulb {
  from {
    transform: rotate(5deg);
  } to {
    transform: rotate(-5deg);
  }
}
