* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

a {
  text-decoration: none;
}

/* mobile */
@media screen and (min-width: 768px) {

  main::-webkit-scrollbar {
    width: 7.5px;
  }
  
  main::-webkit-scrollbar-track {
    background: var(--color-bg);
  }
  
  main::-webkit-scrollbar-thumb {
    background: var(--color-2);
  }

}