* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

a {
  text-decoration: none;
}

:root {
  scroll-behavior: smooth;
}


/* non-mobile scrollbar */
@media screen and (min-width: 768px) {

  :root::-webkit-scrollbar {
    width: 7.5px;
  }
  
  :root::-webkit-scrollbar-track {
    background: var(--color-bg);
  }
  
  :root::-webkit-scrollbar-thumb {
    background: var(--color-2);
  }

}