:root,
:root[theme="dark"] {
  /* --bg: rgb(28, 28, 33); */
  --bg: rgb(18, 21, 29);
  --color-1: rgb(46, 46, 51);
  --color-2: rgb(128, 128, 128);
  --color-3: rgb(209, 209, 209);

  --color-1-1: rgb(46, 46, 51, 0.4);

  --accent-1: var(--color-2);
  --accent-2: var(--color-3);

  
  --color-3-15: rgb(209, 209, 209, 0.15);  

  --font-color-1: rgb(140, 140, 140);
  --font-color-1-bright: rgb(182, 182, 182);
  --font-color-1-bright-1: rgb(182, 182, 182, 0.45);

  --font-color-digit: rgb(45, 45, 50);
  --font-color-selection: var(--color-3);
  --font-color-selection-bg: var(--color-1);

  --font-color-2: rgb(112, 112, 112);
  --font-color-accent-1: var(--color-2);
  --font-color-accent-1-active: rgb(182, 182, 182);
  --font-color-accent-2: rgb(182, 182, 182);

  --icon-fill-1: var(--color-2);

  /* --font-color-accent-1: #FFFFFF; */

  --shadow-1: 5px 9px 12px rgba(0, 0, 0, 0.66);
  --shadow-2: 0px 0px 25px rgba(0, 0, 0, 0.66);
  --shadow-3: 0px 0px 14px rgba(0, 0, 0, 0.66);

  --border-1: 1px solid rgba(192, 192, 192, 0.25);

  --article-selection-bg: var(--color-3);
  --article-selection-color: var(--color-3);
  
  /* loader */
  --loader-digits: white;
  --loader-pit-color:#1b2a33;
  --loader-pit-color-shadow: #162229;

}

:root[theme="light"] {
  --bg: #f1f3f4;
  /* CCE8E8*/
  /* --color-1: rgb(128, 128, 128);
  --color-2: rgb(170, 170, 170);
  --color-3: rgb(245, 245, 245); */

  --color-1: hsl(189.1, 52.3%, 34.5%);
  --color-2: #79bac1;
  --color-3: #f1f3f4;

  --color-1-1: hsl(189.1, 52.3%, 34.5%);

  --accent-1: hsl(189.1, 52.3%, 34.5%);
  --accent-2: var(--color-1);

  --font-color-1: rgb(85, 85, 85);
  --font-color-2: rgb(210, 210, 210);
  --font-color-accent-1: var(--color-1);
  --font-color-accent-1-active: hsl(189.1, 52.3%, 34.5%);
  --font-color-accent-2: hsl(189.1, 22.3%, 44.5%);

  --font-color-digit: #512b58;
  --font-color-selection: var(--color-3);
  --font-color-selection-bg: var(--color-1);

  --icon-fill-1: var(--color-1);

  --shadow-1:
    5px 5px 15px rgba(0, 0, 0, 0.15),
    0px 0px 5px rgba(0, 0, 0, 0.15);
  --shadow-2: 0px 0px 15px rgba(0, 0, 0, 0.3);
  --shadow-3: 0px 0px 10px rgba(0, 0, 0, 0.1);

  --border-1: 1px solid #6290C3;
  
  --article-selection-bg: rgb(17, 21, 29);
  --article-selection-color: rgb(222, 222, 222);

  /* loader */
  --loader-digits: black;
  --loader-pit-color:#4a728a;
  --loader-pit-color-shadow: #19435d;

  /*
  512b58 2a7886 79bac1 f1f3f4
  */
}