:root,
:root[theme="dark"] {
  /* --bg: rgb(28, 28, 33); */
  --bg: rgb(18, 21, 29);
  --color-1: rgb(46, 46, 51);
  --color-2: rgb(128, 128, 128);
  --color-3: rgb(209, 209, 209);

  --header-title-fill: var(--color-3);
  --header-title-fillshade: hsl(0, 0%, 75%);
  --header-title-color: var(--color-1);
  --header-box-stroke: var(--color-2);

  --accent-1: var(--color-3);
  --accent-1-negate: var(--color-1);
  --accent-2: var(--color-2);
  --accent-transparent: rgb(46, 46, 51, 0.4);
  
  --color-3-15: rgb(209, 209, 209, 0.15);

  --font-color-1: rgb(140, 140, 140);
  --font-color-1-bright: rgb(182, 182, 182);
  --font-color-1-bright-1: rgb(182, 182, 182, 0.45);

  --font-color-digit: rgb(45, 45, 50);
  --font-color-selection: var(--color-3);
  --font-color-selection-bg: var(--color-1);

  --font-color-2: rgb(112, 112, 112);
  --font-color-accent-1: var(--color-3);
  --font-color-accent-1-active: rgb(182, 182, 182);
  --font-color-accent-2: rgb(182, 182, 182);

  --font-link: var(--color-3);

  --icon-fill-1: var(--color-2);
  --icon-fill-2: var(--color-2);

  /* section block */
  --section-border: 1px solid var(--color-1);
  --section-shadow: var(--shadow-3);

  /* --font-color-accent-1: #FFFFFF; */

  --shadow-1: 5px 9px 12px rgba(0, 0, 0, 0.66);
  --shadow-2: 0px 0px 25px rgba(0, 0, 0, 0.66);
  --shadow-3: 0px 0px 14px rgba(0, 0, 0, 0.66);

  --border-1: 1px solid rgba(192, 192, 192, 0.25);

  --article-selection-bg: var(--color-3);
  --article-selection-color: var(--color-3);

  /* input */
  --input-bg: var(--color-3);
  --input-bg-focus: white;
  
  /* loader */
  --loader-digits: white;
  --loader-pit-color:#1b2a33;
  --loader-pit-color-shadow: #162229;

  /* bulb default */
  --bulb-fill-up: var(--color-3);
  --bulb-fill-down: var(--color-2);
  --bulb-fill-active: gold;
  --bulb-radiation: drop-shadow(0px 0px 17px hsla(51, 100%, 60%, 0.85));
  /* bulb modern */
  --bulb-modern-label: var(--color-1);
  /* lamp */
  --lamp-wire: black;
  --lamp-bulb: rgba(255, 255, 255 , 0.03);
  --lamp-bulb-active: rgba(255, 255, 255, 1); 

}

:root[theme="light"] {
  --bg: #f1f3f4;
  /* CCE8E8*/
  /* --color-1: rgb(128, 128, 128);
  --color-2: rgb(170, 170, 170);
  --color-3: rgb(245, 245, 245); */

  --color-1: hsl(189.1, 52%, 34%);
  --color-2: #79bac1;
  --color-3: #f1f3f4;

  --header-title-fill: var(--color-1);
  --header-title-fillshade: hsl(189.1, 52%, 40%);
  --header-title-color: rgb(230, 230, 230);
  --header-box-stroke: var(--color-1);

  --accent-1: var(--color-1);
  --accent-1-negate: var(--color-3);
  --accent-2: var(--color-2);
  --accent-transparent: hsla(189.1, 52.3%, 34.5%, 0.1);

  --font-color-1: rgb(85, 85, 85);
  --font-color-2: rgb(210, 210, 210);
  --font-color-accent-1: var(--color-1);
  --font-color-accent-1-active: hsl(189.1, 52.3%, 34.5%);
  --font-color-accent-2: hsl(189.1, 22.3%, 44.5%);

  --font-link: rgb(197, 118, 197);

  --font-color-digit: #512b58;
  --font-color-selection: var(--color-3);
  --font-color-selection-bg: var(--color-1);

  --icon-fill-1: var(--color-2);
  --icon-fill-2: var(--color-1);

  /* section block */
  --section-border: 1px solid var(--color-2);
  --section-shadow: var(--shadow-2);

  --bulb-fill: var(--color-2);

  --shadow-1:
    5px 5px 15px rgba(0, 0, 0, 0.15),
    0px 0px 5px rgba(0, 0, 0, 0.15);
  --shadow-2: 0px 0px 15px rgba(0, 0, 0, 0.3);
  --shadow-3: 0px 0px 10px rgba(0, 0, 0, 0.1);

  --border-1: 1px solid #6290C3;
  
  --article-selection-bg: rgb(17, 21, 29);
  --article-selection-color: rgb(222, 222, 222);

  /* loader */
  --loader-digits: black;
  --loader-pit-color:#4a728a;
  --loader-pit-color-shadow: #19435d;

  /* bulb default */
  --bulb-fill-up: hsl(185.8, 36.7%, 80%);
  --bulb-fill-down: var(--color-1);
  --bulb-fill-active: gold;
  --bulb-radiation: drop-shadow(0px 0px 17px rgba(210, 105, 30, 0.9));
  /* bulb modern */
  --bulb-modern-label: var(--color-3);
  /* lamp */
  --lamp-wire: rgba(77, 77, 77);
  --lamp-bulb: hsl(185.8, 36.7%, 80%);
  --lamp-bulb-active: rgba(255, 255, 255, 1);

  /* input */
  --input-bg: white;
  --input-bg-focus: white;

  /*
  512b58 2a7886 79bac1 f1f3f4
  */
}