.layout-main {
  display: grid;
  grid-template: auto auto / 1fr;  
  place-items: center;
  row-gap: auto;
  padding: auto;

  position: relative;
}

@media screen and (max-width: 768px) and (orientation: portrait) {

  .layout-main {
    padding: 0.5em 0;
  }

}
