.express-settings {
  grid-column: 4;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: stretch;
  font-size: 0.75rem;
}

.express-settings > input {
  display: none;
}

.express-settings > label {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.express-settings > label > svg {
  width: 50%;
  height: 50%;
  fill: var(--color-2);
  transition: transform 0.15s ease-in;
}

.express-settings > input[type=checkbox]:checked ~ div {
  transform: scaleX(1);
}

.express-settings > input[type=checkbox]:checked ~ label svg {
  transform: rotate(60deg);
}

/* Express Panel */

.express-panel {
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 0%;

  display: grid;
  grid-template: min-content / 1fr;
  grid-auto-rows: min-content;
  grid-auto-columns: 1fr;
  row-gap: 7.5px;

  font-family: var(--font-main);

  width: 300px;
  height: 250px;
  border-radius: 5px;
  background: var(--bg);
  box-shadow: var(--shadow-3);
  padding: 0.75em;

  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.25s ease-in-out;
}

.express-panel > h3 {
  font-size: 0.65rem;
  place-self: center;
  color: var(--font-color-1-bright);
  font-variant-position: "wght" 500;
}