.express-form {
  display: grid;
  row-gap: 1.2em;
  
  font-size: 0.4rem;
}

.express-form > div:first-child button {
  font-size: 0.44rem;
}

.express-form > div:first-child svg {
  width: 0.44rem;
  height: 0.44rem;
}

.express-form header {
  font-size: 0.6rem;
}

.express-form label,
.express-form input,
.express-form select {
  font-size: 0.5rem;
}
