.express-form-container {
  overflow: auto;
  max-width: 75vw;
  max-height: 85vh;

  background: var(--bg);
  border: var(--section-border);
}

.express-form {
  display: grid;
  row-gap: 1.2em;
  
  height: auto;
  width: 100%;
  padding: 1rem;

  font-family: var(--font-main);
  font-size: 0.4rem;
}

.express-form > div:first-child button {
  font-size: 0.75em;
}

.express-form > div:first-child svg {
  width: 0.85em;
  height: 0.85em;
}

.express-form header {
  font-size: 1.45em;
}

.express-form label,
.express-form input,
.express-form select {
  font-size: 1.25em;
}

/* mobile */
@media screen and (max-width: 768px) {

  .express-form-container {
    max-width: 95vw;
    max-height: 90vh;
  }

  .express-form {    
    font-size: 0.5rem;
  }

}
