/* Navigation Container */

.navigation {
  width: 100%;
  height: 100%;
  padding: 1em 1.75em;
  font-size: 1.5rem;
  font-family: var(--font-main);
  font-variation-settings: "wght" 450;
  color: var(--font-color-1);
}

.navigation > ol {
  display: grid;
  grid-template: repeat(5, max-content) / 1fr;
  row-gap: 0.7em;
  place-items: center end;
  list-style: none;
}

.navigation a {
  text-decoration: none;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: fit-content;
  height: min-content;
}

.navigation a:hover {
  color: var(--font-color-accent-1-active);
}

.navigation svg {
  display: none;
}

/* Sections/Links */

.active {  
  position: relative;
  color: var(--font-color-accent-1-active);
  font-variation-settings: "wght" 550;
}

.active::after {
  content: "";
  position: absolute;
  top: 0.1em;
  right: -0.4em;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background: var(--font-color-accent-1-active);  
}

/* mobile */
@media screen and (max-width: 640px) {

  .navigation li > ol {
    display: none;
  }

}
