/* Navigation Container */

.navigation {
  display: grid;
  grid-template: repeat(5, max-content) / 1fr;
  row-gap: 0.7em;
  place-items: center end;
  width: 100%;
  height: 100%;
  padding: 1em 2.5em;

  font-size: 1.5rem;
}

/* Sections/Links */

.section,
.section-active {
  font-family: var(--font-main);
  position: relative;
  text-decoration: none;

  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: fit-content;
  height: min-content;

  font-variation-settings: "wght" 450;
}

.section { 
  color: var(--font-color-1);
}

.section:hover {
  color: var(--font-color-accent-1-active);
}

.section-active {
  color: var(--font-color-accent-1-active);
  font-variation-settings: "wght" 550;
}

.section:hover::after,
.section-active::after {
  content: "";
  position: absolute;
  top: 0.1em;
  right: -0.4em;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background: var(--font-color-accent-1-active);  
}

.section:hover::after {
  background: var(--accent-2);
}
