.section {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: max-content min-content;
  grid-auto-rows: min-content;
  place-items: center start;
  row-gap: 7.5px;
  column-gap: 12.5px;

  border: 1px solid var(--color-1);
  box-shadow: var(--shadow-3);
  border-radius: 5px;  
  padding: 0.75em 1.5em;
  color: var(--font-color-1);
}

.section > header {
  grid-column: span 2;
  font-size: 0.8rem;
  color: var(--font-color-1-bright);
  font-variation-settings: "wght" 650;
  user-select: none;
}