.section {
  display: grid;
  row-gap: 1em;
}

.section > header {
  font-size: 0.8rem;
  color: var(--font-color-accent-1);
  font-variation-settings: "wght" 650;
  user-select: none;
}

.section > div {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: max-content min-content;
  grid-auto-rows: min-content;
  place-items: center start;
  row-gap: 0.75em;
  column-gap: 1.25em;

  border: var(--section-border);
  box-shadow: var(--section-shadow);
  border-radius: 5px; 

  padding: 1.5em;
  color: var(--font-color-1);
}