.lang-select {
  place-self: center;
  display: grid;
  grid-template: 1fr / max-content;
  grid-auto-flow: column;
  place-items: center;
  height: min-content;
  
  font-size: var(--size);
}

.lang-select > select {
  font-size: 1em;
  padding: 0.25em;
  background: none;
  color: var(--accent-1);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #516391;
}

.lang-select > select > option {
  color: black;
}
