.title {
  --size: 1.2rem;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(7/6 * var(--size));
  grid-template-rows: var(--size);
  column-gap: 1px;
  place-items: stretch;

  user-select: none;
  cursor: pointer;
}

.title svg {
  --delay: 0.03s;
  transition: transform 0.45s ease-in-out;
}

.title svg rect {
  /* fill: #f49138; */
  fill: var(--header-title-fillshade);
}

.title svg path:nth-of-type(1) {
  /* fill: #ff9f40; */
  fill: var(--header-title-fill);
}

.title svg path:nth-of-type(2) {
  stroke: var(--header-box-stroke);
}


.title svg text {
  font-size: calc(3 * var(--size));
  font-family: "Comic Sans MS";
  font-weight: 900;
  fill: var(--header-title-color);
}

/* hover effect */
.title:hover > svg {
  transform: rotate(360deg);
}

.title:hover > svg:nth-child(1),
.title:hover > svg:nth-child(2),
.title:hover > svg:nth-child(3),
.title:hover > svg:nth-child(4),
.title:hover > svg:nth-child(5),
.title:hover > svg:nth-child(6),
.title:hover > svg:nth-child(7) {
  transform: rotate(360deg);
}

.title > svg:nth-child(1) {
  transform: rotate(-10deg);
}
.title > svg:nth-child(2) {
  transform: rotate(5deg);
  transition-delay: calc(var(--delay) * 2);
}
.title > svg:nth-child(3) {
  transform: rotate(-5deg);
  transition-delay: calc(var(--delay) * 3);
}
.title > svg:nth-child(4) {
  transform: rotate(7deg);
  transition-delay: calc(var(--delay) * 4);
}
.title > svg:nth-child(5) {
  transform: rotate(-7deg);
  transition-delay: calc(var(--delay) * 5);
}
.title > svg:nth-child(6) {
  transform: rotate(8deg);
  transition-delay: calc(var(--delay) * 6);
}
.title > svg:nth-child(7) {
  transform: rotate(-9deg);
  transition-delay: calc(var(--delay) * 7);
}


/* mobile */
@media screen and (max-width: 640px) {

  .title {
    --size: 1.5rem;
  }

}