.section,
.section-active {
  font-family: var(--font-main);
  position: relative;
  text-decoration: none;

  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
}

.section { 
  color: var(--font-color-1);
}

.section-active {
  color: var(--font-color-1-bright);
  font-size: inherit;
}

.section-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 7.5px 7.5px 0 0;
  background: var(--font-color-1-bright);  
}


/* mobile */
@media screen and (max-width: 768px) {

  .section,
  .section-active {
    font-size: 0.85rem;
  }

}
